.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 3000ms ease-in;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear;
}

.link {
    color: black;
    font-size: x-large;
    font-style: italic;
}