h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.topRow {
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bottomRow {
    height: 200px;
}

.submitButton {
    background-color: blueviolet;
    border-radius: 3px;
    border: none;
    width: 32%;
    color: white;
}

.lineBreak {
    border: 2;
    height: 3px;
    color: black;
    width: 30%;
}